#root{--menu-color:#b3a9a9}

.menu{
  height: 7%;
  border-bottom: 1px solid var(--menu-color);
  border-top: 1px solid var(--menu-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu > a{
  text-decoration: none;
  width: 8%;
  text-align: center;
  font-weight: 700;
  color: var(--menu-color);
}

.menu > a.active {
  border-bottom: 2px solid;
  line-height: 4;
  color:#4040bb
}